<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>History Data</title>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/datatables.bootstrap5min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/jquery-ui.css">
  </head>

  <body>
    <header
      class="container d-flex align-items-center justify-content-between my-3"
    >
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/history"
            >History</a
          >
        </li>
      </ul>
    </header>
    <div class="container">
      <h2>History Data</h2>
      <table id="historyTable" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Set</th>
            <th>Value</th>
            <th>TwoD</th>
          </tr>
        </thead>
        <tbody>
          <% historyDatas.forEach(function(historyData) { %> <%
          historyData.child.forEach(function(childData) { %>
          <tr>
            <td><%= historyData.date %></td>
            <td><%= childData.time %></td>
            <td><%= childData.set %></td>
            <td><%= childData.value %></td>
            <td><%= childData.twod %></td>
          </tr>
          <% }); %> <% }); %>
        </tbody>
      </table>
    </div>
    <script src="/public/js/bootstrap5-bundle.min.js"></script>
    <script src="/public/js/jquery-3.7.1.min.js"></script>
    <script src="/public/js/jquery.dataTables.min.js"></script>
    <script src="/public/js/datatables.bootstrap5.min.js"></script>
    <script src="/public/js/jquery-ui.js"></script>
    <script>
      new DataTable("#historyTable", {
        order: [[0, "desc"]],
      });
    </script>
  </body>
</html>
