<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Data</title>
</head>

<body>
    <h1>Stock Data</h1>

    <ul>
        <li><strong>SET:</strong>
            <%= data.set %>
        </li>
        <li><strong>Value:</strong>
            <%= data.value %>
        </li>
        <li><strong>Open Time:</strong>
            <%= data.open_time %>
        </li>
        <li><strong>2D:</strong>
            <%= data.twod %>
        </li>
        <li><strong>Stock Date:</strong>
            <%= data.stock_date %>
        </li>
        <li><strong>Stock Datetime:</strong>
            <%= data.stock_datetime %>
        </li>
        <li><strong>History ID:</strong>
            <%= data.history_id %>
        </li>
    </ul>
</body>

</html>