<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Data</title>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/datatables.bootstrap5min.css">
</head>

<body>
    <header class="container my-3">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/history">History</a>
            </li>
        </ul>
    </header>
    <div class="container">
        <h2>Stock Data</h2>
        <table id="stockTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Stock Date</th>
                    <th>Open Time</th>
                    <th>SET</th>
                    <th>Value</th>
                    <th>2D</th>
                    <th>History ID</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                        <td>
                            <%= stockDataLive.date %>
                        </td>
                        <td>
                            <%= stockDataLive.time %>
                        </td>
                        <td>
                            <%= stockDataLive.set %>
                        </td>
                        <td>
                            <%= stockDataLive.value %>
                        </td>
                        <td>
                            <%= stockDataLive.twod %>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                </tr>
                <% stockDataResults.forEach(function(stockData) { %>
                    <tr>
                        <td>
                            <%= stockData.stock_date %>
                        </td>
                        <td>
                            <%= stockData.open_time %>
                        </td>
                        <td>
                            <%= stockData.set %>
                        </td>
                        <td>
                            <%= stockData.value %>
                        </td>
                        <td>
                            <%= stockData.twod %>
                        </td>
                        <td>
                            <%= stockData.history_id %>
                        </td>
                        <td>

                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
    <script src="/public/js/bootstrap5-bundle.min.js"></script>
    <script src="/public/js/jquery-3.7.1.min.js"></script>
    <script src="/public/js/jquery.dataTables.min.js"></script>
    <script src="/public/js/datatables.bootstrap5.min.js"></script>
    <script>
        new DataTable('#stockTable', {
            order: [[5, 'desc']]
        });
    </script>
</body>

</html>